<div class="center">
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <h1></h1>
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Przeciągnij zdjęcie lub
      <button type="button" (click)="openFileSelector()"> wybierz plik </button>
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody class="upload-name-style">
      <tr *ngFor="let item of files; let i=index">
        <td><strong>{{ item.relativePath }}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  <div class="continue" *ngIf="this.filuploaded">-->
<!--    <button (click)="uploadPhoto()" mat-button color="primary">Upload</button>-->
<!--  </div>-->

  <button mat-button color="primary" (click)="uploadPhoto()" *ngIf="filuploaded">Dodaj plik</button>
</div>
