<mat-toolbar color="primary" class="header">
  <button mat-icon-button>
    <mat-icon>spa</mat-icon>
  </button>
  <span class="logo">Demeter</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-icon-button>
      <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>content_paste_search</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

