<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="navigateTo('/')">
    <mat-icon>spa</mat-icon>
  </button>
  <span class="logo">Demeter</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>content_paste_search</mat-icon>
  </button>
  <span class="logo" *ngIf="isAuthenticated; else noAuth">Witaj {{fullName}}  </span>
  <button  [matMenuTriggerFor]="menu" mat-icon-button mat-card-avatar class="card-header-image"
           *ngIf="isAuthenticated;" [style.background-image]="'url(' + (photoUrl || 'https://img.freepik.com/premium-wektory/znak-zapytania-w-ikonie-glowy-osoby-jako-nieznany-tajny-anonimowy-profil-uzytkownika-lub-watpliwosc-w-tajny-umysl-mozgu_101884-2200.jpg?w=826') + ')'">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()" >Wyloguj</button>
    <button mat-menu-item (click)="navigateTo('/editprofile')" >Edytuj profil</button>
  </mat-menu>
  <ng-template #noAuth>
    <button mat-raised-button (click)="login()" >Login</button>
  </ng-template>
</mat-toolbar>

