.matnavlist {
  position: fixed;
  margin-top: 70px;
}
.list-block {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}

.list-block-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  padding: 20px;
}

mat-list-item[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}


