<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">

    <div fxLayout="column" style="height: auto" fxFlex="85%" class="right-column">
        <form class="recipe-form" (ngSubmit)="submitForm()" [formGroup]="recipeForm">
            <h3>Wprowadź tekst przepisu w dowolnym języku:</h3>
            <div class="form-field">
                <mat-form-field fxFlex="100%">
                    <textarea matInput [(ngModel)]="text" name="text" rows=12 required class="custom-textarea"></textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-raised-button color="accent" type="button" (click)="resetForm()">Wyczyść</button>
                <button mat-raised-button color="primary" type="submit">Konwertuj</button>
            </div>
        </form>

    </div>
</div>

